<section class='carousel' id="carousel">
    <div class="layout__container">
        <div class="carousel__container">
            <div class="owl-carousel">
                {{#each slides}}
                    <img src="{{ img }}" alt="{{ title }}">
                {{/each}}
            </div>
            {{#each slides}}
                <p class="carousel__text {{#if @first}}__active{{/if}}">{{ title }}</p>
            {{/each}}
        </div>
    </div>
</section>
