<section class='carousel' id="carousel">
    <div class="layout__container">
        <div class="carousel__container">
            <div class="owl-carousel">
                <!--<img class="owl-lazy" data-src="../img/slide1.png" src="" alt="">-->
                <!--<img class="owl-lazy" data-src="../img/slide2.png" src="" alt="">-->
                <!--<img class="owl-lazy" data-src="../img/slide3.png" src="" alt="">-->
                <!--<img class="owl-lazy" data-src="../img/slide4.png" src="" alt="">-->
                <!--<img class="owl-lazy" data-src="../img/slide5.png" src="" alt="">-->

                <img src="../img/slide1.png" alt="">
                <!--<img src="../img/slide2.png" alt="">-->
                <img src="../img/slide3.png" alt="">
                <img src="../img/slide4.png" alt="">
                <img src="../img/slide5.png" alt="">
            </div>
            <p class='carousel__text'>Тут надо написать что-то умное про этот скрин</p>
        </div>
    </div>
</section>