.nets
  display flex
  justify-content center
  align-items center

  &__link
    position relative
    overflow hidden
    width 86px
    height 86px
    text-decoration none
    border-radius 100%

  svg
    width 48px
    height 48px
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    fill #fff

  @media all and (max-width: 1024px)
    &__link
      width 28px
      height 28px
      margin 0 15px
